:host {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    .title {
        font-size: 24px; /* Adjust font size as needed */
        font-weight: bold; /* Make the title stand out */
        color: black; /* Set the color of the title */
        margin-bottom: 10px; /* Add some space below the title */
        padding: 10px;
      }
      
      .text {
        font-size: 16px; /* Adjust font size as needed */
        color: grey; /* Set the color of the text to grey */
        margin-bottom: 10px; /* Add some space below each paragraph */
        padding: 0px 10px;
      }
    .close {
        align-self: flex-end;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        margin-top: 5px;
        background: transparent;
        border: none;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    input {
        margin-top: 30px;
        align-self: center;
        width: 260px;
        height: 30px;
        padding: 5px;
    }
    .send-code{
        background-color: #1e5631;
        border-radius: 20px;
        padding: 5px 20px;
        width: fit-content;
        color: white;
        align-self: center;
        font-size:14px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
}