:host {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    .qr {
        width: 200px;
        height: 230px;
        display: flex;
        align-self: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 200px;
            height: 200px;
            display: flex;
        }
    }
    .title {
        font-size: 24px; /* Adjust font size as needed */
        font-weight: bold; /* Make the title stand out */
        color: black; /* Set the color of the title */
        margin-bottom: 10px; /* Add some space below the title */
        padding: 10px;
      }
      
      .text {
        font-size: 16px; /* Adjust font size as needed */
        color: grey; /* Set the color of the text to grey */
        margin-bottom: 30px; /* Add some space below each paragraph */
        padding: 0px 10px;
      }
    .close {
        align-self: flex-end;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        margin-top: 5px;
        background: transparent;
        border: none;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    input {
        margin-top: 30px;
        align-self: center;
        width: 260px;
        height: 30px;
        padding: 5px;
    }
    .send-code{
        background-color: #1e5631;
        font-weight: bold;
        color: #fdf1d3;
        padding: 12px 20px;
        margin-left: 57px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        border-radius: 20px;
        outline: none;
        transition: background-color 0.3s;
        &:hover {
            background-color: #145123;
        }
    }
    form {
        margin: 0 auto;
    }
}