################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/backend/.vs/backend/FileContentIndex/44d1afad-721d-4d1d-98a0-616747d5fbdc.vsidx
/backend/.vs/backend/FileContentIndex/5c0c7ff1-1f28-4545-82c1-29eb40500cce.vsidx
/backend/.vs/backend/FileContentIndex/69bc3cc7-0f55-45fb-b6e3-e56385623047.vsidx
/backend/.vs/backend/FileContentIndex/7c12d8f3-50f5-4d83-90be-ca3fbb031870.vsidx
/backend/.vs/backend/FileContentIndex/f669b04e-70d4-47f9-96f9-f3412073f748.vsidx
/backend/.vs/backend/v17/.wsuo
/backend/.vs/backend/v17/DocumentLayout.json
/backend/.vs/backend/config/applicationhost.config
/backend/.vs/slnx.sqlite
/backend/.vs/VSWorkspaceState.json
/.vs/SI-grupa8/FileContentIndex/2a56d8c4-c0b5-40fb-9030-60a7ae2ab465.vsidx
/.vs/SI-grupa8/FileContentIndex/56e6aca3-992b-4041-b3ea-77778b0a00a9.vsidx
/.vs/SI-grupa8/FileContentIndex/6a47937f-dcbf-4f85-aace-e52ce7381679.vsidx
/.vs/SI-grupa8/FileContentIndex/785fb6a8-2513-401c-9856-008f1f4c5305.vsidx
/.vs/SI-grupa8/FileContentIndex/8afc79c8-fefc-4760-8896-f28b78020435.vsidx
/.vs/SI-grupa8/FileContentIndex/968931e2-c562-4dc3-b30f-70ab181a1064.vsidx
/.vs/SI-grupa8/FileContentIndex/a4f9802e-a6f7-486d-9f5a-48e272c85fa3.vsidx
/.vs/SI-grupa8/FileContentIndex/be89048a-dd90-424b-93c2-e7511c91d611.vsidx
/.vs/SI-grupa8/FileContentIndex/785fb6a8-2513-401c-9856-008f1f4c5305.vsidx
/.vs/SI-grupa8/FileContentIndex/968931e2-c562-4dc3-b30f-70ab181a1064.vsidx
/.vs/SI-grupa8/FileContentIndex/be89048a-dd90-424b-93c2-e7511c91d611.vsidx
/.vs/VehicleMonitoring/FileContentIndex/1668bdd9-793c-4fd6-bdb0-7130cd32952f.vsidx
/.vs/VehicleMonitoring/FileContentIndex/4f098e2c-e3f8-4d56-8b7e-ac8ad84a055a.vsidx
/.vs/VehicleMonitoring/FileContentIndex/8ebf6ad9-842e-4dba-8ab4-27c1d84050fa.vsidx
/.vs/VehicleMonitoring/FileContentIndex/8ebf6ad9-842e-4dba-8ab4-27c1d84050fa.vsidx
/.vs/VehicleMonitoring/v17/.wsuo
