@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    position: relative;
    font-family: Montserrat, sans-serif !important;
}

html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(30, 86, 49, 0.5);
}

body {
    margin: 0;
    // background-image: url("../../../assets/images/map.jpeg");
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(30, 86, 49, 1);
}
.side-text {
        margin-right: 80px;
        margin-left: 100px;
        color: white;
        font-size: 18px;
        flex: 1;
}
    .forma {
        width: 310px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-left: 30px;
        margin-right: 200px;
        z-index: 100;
        form {
            a{
                color: #5c7fda;
                text-decoration: none;
                margin-top: 10px;
              }
              
              a:hover {
                text-decoration: underline;
              }
            display: flex;
            flex-direction: column;
            input[name="usermail"] {
                //border-radius: 8px 8px 0 0;
                padding: 8px 10px;
                padding-left: 40px;
                background: url("../../../assets/images/user.png") no-repeat; 
                background-size: 25px; 
                background-position: 10px center; 
                margin: 8px 0;
                border: none;
                border-bottom: 1px solid #1e5631;
                 outline: none;
                background-color: transparent;
                transition: border-bottom 0.3s;
                height: 30px;
                &:focus {
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
            input[name="pass"] {
                padding: 8px 10px;
                padding-left: 40px;
                background: url("../../../assets/images/padlock.png") no-repeat; 
                background-size: 25px; 
                background-position: 10px center; 
                margin: 8px 0;
                border: none;
                border-bottom: 1px solid #1e5631;
                 outline: none;
                background-color: transparent;
                transition: border-bottom 0.3s;
                height: 30px;
            
                &:focus {
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
            button {
                background-color: #1e5631;
                color: #fdf1d3;
                padding: 12px 20px;
                margin: 8px 0;
                cursor: pointer;
                border: none;
                border-radius: 20px;
                outline: none;
                transition: background-color 0.3s;
                &:hover {
                    background-color: #145123;
                }
            }
        }
    }

    .twoauth{
        width: 310px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-left: 30px;
        margin-right: 200px;
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            //background-color: red;
            height: 180px;
            
            .digit-group {
                padding: 8px 10px;
                padding-left: 40px;
                background: url("../../../assets/images/authenticity.png") no-repeat; 
                background-size: 25px; 
                background-position: 10px center; 
                margin: 8px 0;
            
            input {
                width: 30px;
                height: 30px;
                margin-right: 3px;
                margin-left: 3px;
                text-align: center;
                border: none;
                border-bottom: 1px solid #1e5631;
                 outline: none;
                background-color: transparent;
                transition: border-bottom 0.3s;
                &:focus {
                    background-color: rgba(255, 255, 255, 0.7);
                }
            }
        }
        .verify {
            //top: 20px;
            background-color: #1e5631;
            color: #fdf1d3;
            padding: 12px 20px;
            margin: 8px 0;
            cursor: pointer;
            border: none;
            border-radius: 20px;
            outline: none;
            transition: background-color 0.3s;
            &:hover {
                background-color: #145123;
            }
        }
    }
    }















