:host {
    width: calc(100% - 200px);
    margin-top: 60px;
    margin-left: 200px;
    min-height: calc(100vh - 60px);
    background-color: #f0f1f3;
    margin-left: 200px;
    display: flex;  
    flex-direction: column; /* Change to column layout */

    .home-header {
        --background-color: red;
        display: none;
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;

        .greeting {
            margin-left: 55px;
            font-size: 25px;
            color: #1e5631;
            font-weight: 600;
        }
    }
    .map-nav {
        width: 100%;
        height: 40px;
        background-color: blue;
    }
    .mapa {
        width: 100%;
        height: calc(100vh - 100px);
        background-color: red;
        //margin-left: 45px;
        //margin-top: 40px; /* Add spacing between header and map */
        
    }

    
}