:host {
    width: calc(100% - 200px);
    margin-top: 60px;
    margin-left: 200px;
    min-height: calc(100vh - 60px);
    background-color: #f0f1f3;
    display: flex;
    flex-direction: column;

    .home-header {
        display: flex;
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;
        align-items: center;

        .greeting {
            margin-left: 55px;
            font-size: 25px;
            color: #1e5631;
            font-weight: 600;
        }
    }

    input {
        width: fit-content;
        align-self: flex-end;
        font-size: 12px;
        font-weight: bold;
        background-color: whitesmoke;
        padding: 10px 20px;
        cursor: pointer;
        margin-right: 60px;
        border: 1px solid #1e5631;
        border-radius: 5px;
        outline: none;
    }

    .container {
        margin-top: 30px;
        margin-left: 55px;
        width: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        gap: 20px;
      
    }

    .section-line {
        margin-top: 5px;
        width: 80%; 
        height: 1px;
        background-color: rgb(206, 206, 206);
    }

    table {
        width: 80%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color:whitesmoke;
        border-radius: 10px;

        th,
        td {
            border: 1px solid #b9cdbe;
            
            padding: 8px;
            text-align: left;
            
        }

        .actcolumn{
            background-color:whitesmoke;
            max-width: 50px;
            overflow: hidden;
        }
    }

    button {
        background-color: transparent;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 28px;
            height: 28px;
            fill: #1e5631;
        }
       
    
    } 
    form .button.addbutton {
        margin-top: 10px;
        margin-right: 100px;
    }

    .action-buttons {
        display: flex;
        gap: 10px;
    }


}
