<p id="title">Profile settings</p>
<p class="section-title">ACCOUNT PREFERENCES</p>
<div class="section-line"></div>
<div class="section">
    <div class="section-item">
        <p class="section-item-title">Name</p>
        <p class="section-item-subtitle">{{userData.name}}</p>
    </div>
    <div class="section-item">
        <p class="section-item-title">Surname</p>
        <p class="section-item-subtitle">{{userData.surname}}</p>
    </div>
    <div class="section-item">
        <div class="grid-container">
            <div class="grid-item">
                <p class="section-item-title">Email address</p>
                <p class="section-item-subtitle">{{userData.email}}</p>
            </div>
            <div class="grid-item">
                <button class="change-button" (click)="editDialog(userData)" type="submit">CHANGE</button>
            </div>
        </div>
    </div>
    <div class="section-item">
        <div class="grid-container">
            <div class="grid-item">
                <p class="section-item-title">Password</p>
                <p class="section-item-subtitle">Password must be at least 8 characters long</p>
            </div>
            <div class="grid-item">
                <button class="change-button">CHANGE</button>
            </div>
        </div>
    </div>
</div>

<p class="section-title">SAFETY & PRIVACY</p>
<div class="section-line"></div>
<div class="section">
    <div class="section-item">
        <div class="grid-container">
            <div class="grid-item">
                <p class="section-item-title">Use two-factor authentication</p>
                <p class="section-item-subtitle">Help protect your account (even if someone gets your password) by requiring a verification code and a password to log in.</p>
            </div>
            <div class="grid-item">
                <button (click)="get2fa()" [class.disappear]="twoFaEnabled" class="twofa-button" id="setup-twofa">Setup 2fa</button>
                <button (click)="openRemove2fa()" [class.disappear]="!twoFaEnabled" class="twofa-button" id="remove-twofa">Remove 2fa</button>
            </div>
        </div>
    </div>
</div>

