:host {
    height: 100vh;
    display: flex;
    width: 200px;
    background-color: #1e5631;
    position: fixed;
    flex-direction: column;
    align-items: center;
    .logo-container {
        width: 180px;
        height: 40px;
        display: flex;
        margin-top: 10px;
        align-items: center;
        svg {
            margin-left: 10px;
            width: 30px;
            height: 30px;
            fill: white;
        }
        p {
            margin-left: 10px;
            color: white;
            font-size: 20px;
        }
    }
}
.menu {
    gap: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    .menu-title {
        font-size: 16px;
        margin-left: 10px;
        color: white;
        font-weight: bold;
    }
    
    font-size: 15px;
}
.sidebar-link {
    align-self: center;
    text-decoration: none;
    .sidebar-item {
        width: 180px;
        height: 40px;
        background-color: transparent;
        display: flex;
        align-items: center;
        border-radius: 8px;

        svg {
            margin-left: 10px;
            width: 20px;
            height: 20px;
            fill: white;
        }
        p {
            margin-left: 10px;
            color: white;
        }
    }
    .sidebar-item:hover {
        background-color: #3b7f57;
    }
}
.active {
    .sidebar-item {
        background-color: #2a944d;
    }
}


#logout-link {
    position: absolute; 
    bottom: 10px;
    left: 10px;
    width: 100%; 
}