<div class="home-header">
    <p class="greeting">Company Management</p>
 
</div>

<div class="container">
    <div style="display: flex; justify-content: space-between; width: 95%;">
        <form class="search-container">
            <input type="text" id="search-bar" placeholder="Search companies..">
            <button type="submit" class="search-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </button>
        </form>
        <button type="submit" class="add-button" style="margin-bottom: 25px; margin-left: 550px;" (click)="openDialogAdmin()">ADD NEW ADMIN</button>

        <button type="submit" class="add-button" style="margin-bottom: 25px;" (click)="openDialog()">ADD NEW COMPANY</button>
    </div>
  
    <table>
        <thead>
            <tr>
                <th>Company name</th>
                <th>Admin ID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{company.companyName}}</td>
                <td>{{company.adminID}}</td>
          
            </tr>
        
        </tbody>
    </table>
    
</div>