@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-family: Montserrat !important;
}
* {
    margin: 0px;
    padding: 0px;
}

