:host {
    width: 250px;
    height: 300px;
    display: flex;
    background-color: rgb(255, 255, 255);
    z-index: 200;
    right: 0;
    //align-items: center;
    top: 220px;
    position: fixed;
}