:host {
    width: calc(100% - 200px);
    margin-top: 60px;
    margin-left: 200px;
    //min-height: 100vh;
    background-color: #f0f1f3;
    display: flex;
    flex-direction: column;
    .company-header {
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        background-color: rgb(233, 231, 231);
        .company-top-header {
            margin-top: 20px;
            width: calc(100% - 100px);
            margin-left: 50px;
            height: 30px;
            //background-color: rgb(200, 195, 195);
            display: flex;
            align-items: center;
            .back {
                display: flex;
                height: 25px;
                align-items: center;
                background:none;
                border: none;
                
                svg {
                    margin-left: 5px;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                    fill: gray;
                }
                p{
                    font-size: 13px;
                    color: gray;
                    margin-right: 5px;
                }
            }
            .back:hover {
                cursor: pointer;
                svg {
                    fill: darkgray;
                }
                p {
                    color: darkgray;
                }
            }
        }
        .company-lower-header {
            margin-top: 30px;
            width: calc(100% - 100px);
            margin-left: 50px;
            height: 80px;
            //background-color: rgb(200, 195, 195);
            display: flex;
            .company-basic-info {
                display: flex;
                height: 80px;
                align-items: center;
                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 1px solid black;
                }
                .company-basic-info-text {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    .company-title {
                        font-size: 25px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .company-nav {
        width: 100%;
        height: 40px;
        display: flex;
        background-color: lightgray;
    }
}